<html>
<body>
    <form action="/withdraw" method="post">
        <label for="accountNo">Account no</label>
        <input type="text" name="accountNo" id="accountNo">
        <br />
        <label for="pin">PIN Code</label>
        <input type="text" name="pin" id="pin">
        <br />
        <label for="amount">Amount</label>
        <input type="text" name="amount" id="amount" class="amountField">
        <br />
        <input type="submit" name="withdraw" id="withdraw" value="Withdraw">
    </form>

    <hr />
    @if (@Model != null)
    {
        <h2>Receipt for your withdraw</h2>
        <strong>Receiptid:</strong>@Model.Id<br />
        <strong>Dispensed:</strong><div class="dispensedAmount">@Model.DispensedAmount</div>

        <p>You can now check the dispenser for <strong>$@Model.DispensedAmount</strong></p>
        <p>It's all there... We promise!</p>
    }
</body>
</html>
