<html>
<body>
    <form action="/withdraw" method="post">
        <label for="accountNo">Account no</label>
        <input type="text" name="accountNo" id="accountNo">
        <br />
        <label for="pin">PIN Code</label>
        <input type="text" name="pin" id="pin">
        <br />
        <label for="amount">Amount</label>
        <input type="text" name="amount" id="amount" class="amountField">
        <br />
        <input type="submit" name="withdraw" id="withdraw" value="Withdraw">
    </form>

</body>
</html>
